#show-contact {
  display: none;
}

#accounts {
  cursor: pointer;
  color: #0088cc;
}

#accounts:hover {
  text-decoration: underline;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

#accountDetails {
  display: none;
}

.form-bottom {
  position: absolute;
  bottom: 30px;
}
